<!DOCTYPE html>
<html>
  <head>
    <title>TeamTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="flex">
      <%= render "shared/navbar" %>
      <div class="px-10 py-12 flex-grow">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "inline-block #{message_type == "error" ? 'bg-red-700' : 'bg-green-700'} text-white border-1 rounded-md p-2 text-sm my-4") %>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
